.foot {
    text-align: center;
    background-color: var(--vivid-orange);
}

.foot__title {
    font-size: 1.45em;
    font-weight: 500;
    border-bottom: 1px solid var(--dark);
}

.footer__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer__list-items {
    margin: 0.2em 1em;
}

.footer__list-items a {
    color: var(--dark-gray);
    font-size: 0.8rem;
    font-weight: 500;
}

.foot__text {
    font-weight: 300;
    background-color: var(--orange);
}

@media screen and (min-width:768px) {
    .foot {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer__list {
        width: 50%;
        margin: 0 auto 0 auto;
    }
}