@import url('../styles/reset.css');
@import url('../styles/icons.css');
@import url('../styles/header.css');
@import url('../styles/menu-hamburger-mobile.css');
@import url('../styles/images.css');
@import url('../styles/swiper-slide.css');
@import url('../styles/carousel.css');
@import url('../styles/infosec.css');
@import url('../styles/footer.css');

:root {
    --vivid-orange: #ee8e17;
    --orange: #ed870f;
    --yellow: #edc240;
    --dark-yellow: #e9b41d;
    --black: #0b0a0a;
    --dark: #1d1c1c;
    --white: #fcfeff;
    --white-hover: #c2c2c2;
    --gray: #7a7a7a;
    --dark-gray: #474843;
    --ash-gray: #373c37;

    --principal-font: "Montserrat";
    --logo-font: "Dancing Script", cursive;
}

body {
    background-color: var(--black);
    color: var(--dark-gray);
    font-family: var(--principal-font);
    font-size: 16px;
    font-weight: 400;
}